/* styles/18-style.css */

/* Custom Properties */
:root {
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: 4%;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 3em 0; /* 3 times the root element on the bottom, 0 elsewhere */
    --nav-item-link-hover: var(--color-primary);
  }
  
  /* Navbar Menu */
  .navbar-menu {
    float: right;
  }
  
  /* Nav Class */
  .nav {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }
  
  /* Nav Item Class in Nav Class */
  .nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    display: var(--nav-item-display);
    margin: var(--nav-item-margin);
  }
  
  /* Nav Link Class in Nav Class */
  .nav .nav-link {
    display: block;
    padding: calc(var(--section-padding) / 2) 0; /* half of the root element for top and bottom, equal to the root element for left and right */
  }
  
  /* Hover Effect for Nav Link */
  .nav .nav-link:hover {
    color: var(--nav-item-link-hover);
  }
  